{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h100">
    <div class="row h100">
        <div class="col-12 my-auto">
            <h1 class="display-1 "><strong>Market Place</strong></h1>
            <p class="py-3 text-white">
            </p>
        </div>
    </div>
</div>
<div class="card card-body col-12 col-md-5 offset-md-3">
    <p>Are you sure you want to cancel "{{order}}"?</p>

    <form action="{% url 'delete_order' order.id %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'index' %}">Cancel</a>
        <input class="btn btn-danger" type="submit" name="Confirm">
    </form>
</div>
{% endblock %}