{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/jd641326/image/upload/v1691587061/placeholderimg_bax7ue.webp" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h3>Tried this at the market? Rate it, and share your experience!</h3>
        </div>
        <div class="col text-center">
            <form action="{% url 'submit_review' post.id %}"  method="POST" id="{{ ratings.starId }}">
                {% csrf_token %}
                <h5>Let the vendor know what you think!</h5>
                <div>
                    <label for="">Rate it!</label>
                    <br>
                    <div class="ratings rate" id="">
                        <input type="radio" name="rating" id="rate10" value="5" required><label for="rate10" title="5"></label>
                        <input type="radio" name="rating" id="rate9" value="4.5" required><label for="rate9" title= 4.5 class="half"></label>
                        <input type="radio" name="rating" id="rate8" value="4" required><label for="rate10" title="4"></label>
                        <input type="radio" name="rating" id="rate7" value="3.5" required><label for="rate9" title= 3.5 class="half"></label>
                        <input type="radio" name="rating" id="rate6" value="3" required><label for="rate10" title="3"></label>
                        <input type="radio" name="rating" id="rate5" value="2.5" required><label for="rate9" title= 2.5 class="half"></label>
                        <input type="radio" name="rating" id="rate4" value="2" required><label for="rate10" title="2"></label>
                        <input type="radio" name="rating" id="rate3" value="1.5" required><label for="rate9" title= 1.5 class="half"></label>
                        <input type="radio" name="rating" id="rate2" value="1" required><label for="rate10" title="1"></label>
                        <input type="radio" name="rating" id="rate1" value="0.5" required><label for="rate9" title= 0.5 class="half"></label>
                    </div>
                    <br>
                    <br>
                    Your headline!:
                    <input type="text" class="form-control" name="subject">
                    <br>
                    Your thoughts:
                    <textarea name="review" rows="4" class="form-control"></textarea>
                    <br>
                    <input type="submit" class="btn btn-signup btn-lg" value="Submit">
                </div>
                {% if message %}
                    {{ message }}
                {% endif %}
            </form>
            <br>
            {% if user.is_authenticated %}
            
            {% endif %}
            {% if rated %}
                <div class="alert alert-success">
                    Yor rating has been submitted
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Start a discussion here and let the Vendor know where you would love to see them next!:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                    <div role="alert" class="alert alert-success">
                        Your comment is awaiting approval
                    </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Add your thoughts, create a conversation</h3>
                <p>Posting as: {{ user.username }}</p>
                <form action="" method="post" style="margin-top: 1.3rem;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- <script src="/static/js/script.js" defer></script> -->
{% endblock content %}